/* Variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Colores */

$c-amarillo: #fca311;
$c-azul: #14213d;
$c-blanco: #ffffff;
$c-negro: #000000;
$cf-menu: rgb(10, 3, 53);
$cf-equipo: rgb(202, 182, 182);