/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Colores */
/* Bordes */
/* Header, parte de la navegacion y logo de la empresa */
header {
  background-color: rgb(2, 2, 36);
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-titulo div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-titulo nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo-titulo nav a {
  color: #ffffff;
}

.border-header {
  border-bottom: 2px solid #ffffff;
  padding: 3px;
}

@media (min-width: 320px) {
  .logo-titulo div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .logo-titulo ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-titulo a {
    font-size: 10px;
    margin: 5px;
  }
}
@media (min-width: 600px) {
  .logo-titulo div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .logo-titulo img {
    margin-right: 10px;
  }
  .logo-titulo nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
  .logo-titulo a {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  .logo-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-titulo div {
    margin-right: 40px;
  }
  .logo-titulo nav {
    margin-left: 23px;
  }
  .logo-titulo a {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
  }
  .logo-titulo div {
    margin-right: 150px;
  }
}
/* Footer */
footer {
  background-color: rgb(2, 2, 36);
  color: white;
  text-align: center;
}

footer div {
  padding-top: 20px;
}

footer div h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

.navegacion-footer {
  padding-top: 10px;
}

.navegacion-footer h4 {
  padding-bottom: 10px;
}

.navegacion-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion-footer li {
  margin: 5px;
}

@media (min-width: 600px) {
  .contenedor-arriba {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-informacion {
    margin: 40px;
  }
  .contenedor-abajo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-abajo nav {
    margin: 40px;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-abajo ul {
    display: block;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* MAIN */
main {
  background-color: rgb(6, 6, 73);
}

/* Foto de la empresa */
.contenedor-imagen-inicio {
  width: 100%;
}
.contenedor-imagen-inicio img {
  width: 100%;
  height: 20vh;
}
@media (min-width: 600px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 30vh;
  }
}
@media (min-width: 770px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 60vh;
  }
}

/* Primera section donde aparece informacion sobre la hambuguesa */
.contenedor-hamburguesa {
  text-align: center;
  color: #ffffff;
}
.contenedor-hamburguesa h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-hamburguesa p {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  margin-bottom: 30px;
}
.contenedor-hamburguesa a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 16px;
  border-radius: 1rem;
}
.contenedor-hamburguesa a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
.contenedor-hamburguesa .foto-hamburguesa {
  text-align: center;
  margin-top: 20px;
}
.contenedor-hamburguesa .foto-hamburguesa img {
  width: 200px;
}
@media (min-width: 600px) {
  .contenedor-hamburguesa p {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 250px;
  }
}
@media (min-width: 770px) {
  .contenedor-hamburguesa {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor-hamburguesa h2 {
    font-size: 30px;
  }
  .contenedor-hamburguesa p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contenedor-hamburguesa h2 {
    font-size: 35px;
  }
  .contenedor-hamburguesa p {
    font-size: 20px;
  }
  .contenedor-hamburguesa a {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fca311;
    padding: 16px;
    border-radius: 1rem;
    font-size: 20px;
  }
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 400px;
  }
}

/* Segunda section donde se habla sobre la comida vegana */
.contenedor-vegana {
  text-align: center;
  color: #ffffff;
}
.contenedor-vegana .foto-vegana {
  text-align: center;
  margin-top: 20px;
}
.contenedor-vegana .foto-vegana img {
  width: 200px;
}
.contenedor-vegana .informacion-vegana {
  text-align: center;
  margin-bottom: 60px;
}
.contenedor-vegana .informacion-vegana h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-vegana .informacion-vegana p {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  margin-bottom: 30px;
}
.contenedor-vegana .informacion-vegana p strong {
  color: #fca311;
}
.contenedor-vegana .informacion-vegana a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 16px;
  border-radius: 1rem;
}
.contenedor-vegana .informacion-vegana a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
@media (min-width: 600px) {
  .contenedor-vegana p {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .contenedor-vegana .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-hamburguesa img {
    width: 250px;
  }
}
@media (min-width: 770px) {
  .contenedor-vegana {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 300px;
  }
  .contenedor-vegana h2 {
    font-size: 30px;
  }
  .contenedor-vegana p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 400px;
  }
  .contenedor-vegana h2 {
    font-size: 35px;
  }
  .contenedor-vegana p {
    font-size: 20px;
  }
  .contenedor-vegana a {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fca311;
    padding: 16px;
    border-radius: 1rem;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 450px;
  }
}

/* Metodos de pagos, envios y comer en el local */
.contenedor-info {
  text-align: center;
  color: #ffffff;
  height: 130vh;
}
.contenedor-info .informacion-inicio {
  border: 2px solid #fca311;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
  width: 340px;
  height: 40vh;
}
.contenedor-info .informacion-inicio h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-info .informacion-inicio p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-info .informacion-inicio p strong {
  color: #fca311;
  text-transform: uppercase;
}
.contenedor-info .informacion-inicio a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 12px;
  border-radius: 1rem;
}
.contenedor-info .informacion-inicio a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
.contenedor-info .informacion-inicio li {
  margin-top: 20px;
}
@media (min-width: 380px) {
  .contenedor-info .informacion-inicio {
    margin-left: 25px;
  }
}
@media (min-width: 600px) {
  .contenedor-info .informacion-inicio {
    margin-left: 22%;
  }
  .contenedor-info .informacion-inicio li {
    margin-top: 20px;
  }
}
@media (min-width: 770px) {
  .contenedor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .contenedor-info {
    height: 40vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 25vh;
  }
  .contenedor-info h3 {
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contenedor-info p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 45vh;
  }
  .contenedor-info .informacion-inicio li {
    margin-top: 35px;
  }
}

/* Contenedor Bebida */
.contenedor-tomar {
  color: white;
  text-align: center;
}

.contenedor-tomar article {
  padding: 20px;
  border: 2px solid blueviolet;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.785);
}

.contenedor-tomar h2 {
  text-transform: uppercase;
  border-bottom: 2px solid blueviolet;
  padding-bottom: 10px;
}

.contenedor-tomar ul {
  margin-top: 10px;
}

.contenedor-tomar ul li {
  margin-bottom: 10px;
}

span {
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: 600px) {
  .contenedor-tomar article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 770px) {
  .contenedor-tomar article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 140px;
    padding-right: 140px;
  }
}
@media (min-width: 1024px) {
  .contenedor-tomar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-tomar article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-tomar h2 {
    font-size: 30px;
  }
  .contenedor-tomar li {
    font-size: 18px;
  }
  span {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1200px) {
  .contenedor-tomar article {
    padding: 20px;
    border: 5px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-tomar h2 {
    text-transform: uppercase;
    border-bottom: 5px solid blueviolet;
    padding-bottom: 10px;
  }
}
/* Contenedor Comer */
.contenedor-comer {
  color: white;
  text-align: center;
}

.contenedor-comer article {
  padding: 20px;
  border: 2px solid blueviolet;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.785);
}

.contenedor-comer h2 {
  text-transform: uppercase;
  border-bottom: 2px solid blueviolet;
  padding-bottom: 10px;
}

.contenedor-comer ul {
  margin-top: 10px;
}

.contenedor-comer ul li {
  margin-bottom: 10px;
}

span {
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: 600px) {
  .contenedor-comer article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 770px) {
  .contenedor-comer article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 140px;
    padding-right: 140px;
  }
}
@media (min-width: 1024px) {
  .contenedor-comer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-comer article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-comer h2 {
    font-size: 30px;
  }
  .contenedor-comer li {
    font-size: 18px;
  }
  span {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1200px) {
  .contenedor-comer article {
    padding: 20px;
    border: 5px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-comer h2 {
    text-transform: uppercase;
    border-bottom: 5px solid blueviolet;
    padding-bottom: 10px;
  }
}
/* Contenedor Postre */
.contenedor-postre {
  color: white;
  text-align: center;
}

.contenedor-postre article {
  padding: 20px;
  border: 2px solid blueviolet;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.785);
}

.contenedor-postre h2 {
  text-transform: uppercase;
  border-bottom: 2px solid blueviolet;
  padding-bottom: 10px;
}

.contenedor-postre ul {
  margin-top: 10px;
}

.contenedor-postre ul li {
  margin-bottom: 10px;
}

span {
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: 600px) {
  .contenedor-postre article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 770px) {
  .contenedor-postre article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  span {
    padding-left: 140px;
    padding-right: 140px;
  }
}
@media (min-width: 1024px) {
  .contenedor-postre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-postre article {
    padding: 20px;
    border: 2px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-postre h2 {
    font-size: 30px;
  }
  .contenedor-postre li {
    font-size: 18px;
  }
  span {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1024px) {
  .contenedor-postre article {
    padding: 20px;
    border: 5px solid blueviolet;
    margin: 40px;
    border-radius: 10px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.785);
  }
  .contenedor-postre h2 {
    text-transform: uppercase;
    border-bottom: 5px solid blueviolet;
    padding-bottom: 10px;
  }
}
/* Imagen de la empresa */
.imagen-empresa {
  width: 100%;
  height: 150px;
}

.imagen-empresa img {
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .imagen-empresa {
    width: 100%;
    height: 210px;
  }
  .imagen-empresa img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 770px) {
  .imagen-empresa {
    width: 100%;
    height: 250px;
  }
  .imagen-empresa img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .imagen-empresa {
    width: 100%;
    height: 300px;
  }
  .imagen-empresa img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .imagen-empresa {
    width: 100%;
    height: 400px;
  }
  .imagen-empresa img {
    width: 100%;
    height: 100%;
  }
}
/* Sobre nosotros */
.nosotros-contenedor {
  text-align: center;
  padding: 10px;
  background-color: rgb(6, 6, 73);
  color: white;
}

.nosotros-contenedor h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.nosotros {
  border: 2px solid blueviolet;
  margin-bottom: 20px;
  height: 200px;
  border-radius: 1rem;
}

.nosotros h4 {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 10px;
}

.nosotros p {
  padding: 10px;
}

@media (min-width: 600px) {
  .nosotros-contenedor {
    padding: 40px;
  }
}
@media (min-width: 770px) {
  .nosotros {
    margin: 50px;
  }
}
@media (min-width: 1024px) {
  .nosotros-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros {
    width: 200px;
    height: 270px;
  }
}
/* Nuestro equipo */
.equipo-contenedor {
  text-align: center;
  color: white;
  padding: 10px;
}

.equipo-contenedor h2 {
  text-transform: uppercase;
  margin: 20px;
}

.equipo {
  border: 2px solid blueviolet;
  height: 55vh;
  margin: 10px;
  border-radius: 1rem;
}

.equipo img {
  width: 100%;
  height: 40vh;
  border-radius: 1rem;
  background-size: contain;
}

.equipo h4 {
  text-transform: uppercase;
  padding-top: 20px;
}

.equipo h5 {
  text-transform: uppercase;
  padding-top: 10px;
}

@media (min-width: 600px) {
  .equipo-contenedor {
    padding: 50px;
  }
}
@media (min-width: 770px) {
  .equipo-contenedor {
    padding: 120px;
  }
}
@media (min-width: 1024px) {
  .equipo-contenedor h2 {
    margin: 10px;
  }
  .equipo-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .equipo {
    width: 400px;
  }
}
.imagen-reservas {
  width: 100%;
}

.imagen-reservas img {
  width: 100%;
}
@media (min-width: 600px) {
  .imagen-reservas img {
    width: 100%;
    height: 20vh;
  }
}
@media (min-width: 770px) {
  .imagen-reservas img {
    width: 100%;
    height: 35vh;
  }
}
@media (min-width: 1024px) {
  .imagen-reservas img {
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .imagen-reservas img {
    width: 100%;
    height: 55vh;
  }
}

/* Contenedor de reservas */
.contenedor-reservas {
  text-align: center;
  color: #ffffff;
}
.contenedor-reservas h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reservas label {
  margin: 10px;
  color: #ffffff;
}
.reservas label input {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid rgb(92, 88, 81);
  border-radius: 1rem;
  padding: 8px;
  background-color: rgb(26, 26, 187);
  color: #ffffff;
}
.reservas label input:hover {
  background-color: #14213d;
  color: #fca311;
  border: 5px solid #000000;
}
@media (min-width: 600px) {
  .reservas label input {
    width: 300px;
  }
}
@media (min-width: 770px) {
  .reservas label input {
    width: 400px;
  }
}
@media (min-width: 1024px) {
  .reservas label input {
    width: 500px;
  }
}

/* Ofertas */
.contenedor-ofertas {
  text-align: center;
  color: #ffffff;
}
.contenedor-ofertas h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}
.contenedor-ofertas .ofertas {
  margin: 0 10px;
}
.contenedor-ofertas .ofertas strong {
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-ofertas .ofertas img {
  width: 350px;
}
@media (min-width: 600px) {
  .contenedor-ofertas h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  }
}
@media (min-width: 770px) {
  .contenedor-ofertas .ofertas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-ofertas .ofertas p {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .contenedor-ofertas h2 {
    font-size: 35px;
  }
}

/* Reservas anteriores */
.contenedor-antigua {
  text-align: center;
  color: #ffffff;
  height: 70vh;
}
.contenedor-antigua h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.contenedor-antigua .antigua {
  margin: 0 10px;
}
.contenedor-antigua .antigua img {
  width: 350px;
}
.contenedor-antigua .antigua strong {
  text-transform: uppercase;
  color: #fca311;
}
@media (min-width: 600px) {
  .contenedor-antigua h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  }
}
@media (min-width: 770px) {
  .contenedor-antigua {
    height: 45vh;
  }
  .contenedor-antigua .antigua {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-antigua .antigua p {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .contenedor-antigua {
    height: 30vh;
  }
  .contenedor-antigua h2 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .contenedor-antigua {
    height: 50vh;
  }
}

/* Iframe de donde nos encontramos */
.contenedor-ubicacion {
  text-align: center;
  color: #ffffff;
  width: 100%;
}
.contenedor-ubicacion h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenedor-ubicacion .mapa {
  width: 100%;
}
.contenedor-ubicacion .mapa iframe {
  width: 90%;
  height: 30vh;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 40vh;
    border-radius: 10px;
  }
}
@media (min-width: 770px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 50vh;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 60vh;
    border-radius: 10px;
  }
}
@media (min-width: 1200px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 70vh;
    border-radius: 10px;
  }
}

/* Informacion para contactarnos */
.contenedor-informacion {
  text-align: center;
  color: #ffffff;
  height: 35vh;
}
.contenedor-informacion ul {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-informacion ul li {
  margin-bottom: 10px;
}
.contenedor-informacion ul li:hover {
  cursor: pointer;
}
@media (min-width: 600px) {
  .contenedor-informacion li {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  .contenedor-informacion li {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .contenedor-informacion {
    height: 25vh;
  }
  .contenedor-informacion ul {
    margin-top: 50px;
  }
  .contenedor-informacion ul li {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=index.css.map */
