/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Colores */
/* Header, parte de la navegacion y logo de la empresa */
header {
  background-color: rgb(2, 2, 36);
  color: #ffffff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-titulo div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-titulo nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.logo-titulo nav a {
  color: #ffffff;
}

.border-header {
  border-bottom: 2px solid #ffffff;
  padding: 3px;
}

@media (min-width: 320px) {
  .logo-titulo div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .logo-titulo ul li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo-titulo a {
    font-size: 10px;
    margin: 5px;
  }
}
@media (min-width: 600px) {
  .logo-titulo div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .logo-titulo img {
    margin-right: 10px;
  }
  .logo-titulo nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
  }
  .logo-titulo a {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  .logo-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-titulo div {
    margin-right: 40px;
  }
  .logo-titulo nav {
    margin-left: 23px;
  }
  .logo-titulo a {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
  }
  .logo-titulo div {
    margin-right: 150px;
  }
}
/* Footer */
footer {
  background-color: rgb(2, 2, 36);
  color: white;
  text-align: center;
}

footer a {
  color: #ffffff;
}

footer div {
  padding-top: 20px;
}

footer div h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}

footer ul {
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

.navegacion-footer {
  padding-top: 10px;
}

.navegacion-footer h4 {
  padding-bottom: 10px;
}

.navegacion-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navegacion-footer li {
  margin: 5px;
}

@media (min-width: 600px) {
  .contenedor-arriba {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-informacion {
    margin: 40px;
  }
  .contenedor-abajo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-abajo nav {
    margin: 40px;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-abajo ul {
    display: block;
  }
}
@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* MAIN */
main {
  background-color: rgb(6, 6, 73);
}

/* Foto de la empresa */
.contenedor-imagen-inicio {
  width: 100%;
}
.contenedor-imagen-inicio img {
  width: 100%;
  height: 20vh;
}
@media (min-width: 600px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 30vh;
  }
}
@media (min-width: 770px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .contenedor-imagen-inicio img {
    width: 100%;
    height: 60vh;
  }
}

/* Primera section donde aparece informacion sobre la hambuguesa */
.contenedor-hamburguesa {
  text-align: center;
  color: #ffffff;
}
.contenedor-hamburguesa h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-hamburguesa p {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  margin-bottom: 30px;
}
.contenedor-hamburguesa a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 16px;
  border-radius: 1rem;
}
.contenedor-hamburguesa a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
.contenedor-hamburguesa .foto-hamburguesa {
  text-align: center;
  margin-top: 20px;
}
.contenedor-hamburguesa .foto-hamburguesa img {
  width: 200px;
}
@media (min-width: 600px) {
  .contenedor-hamburguesa p {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 250px;
  }
}
@media (min-width: 770px) {
  .contenedor-hamburguesa {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor-hamburguesa h2 {
    font-size: 30px;
  }
  .contenedor-hamburguesa p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contenedor-hamburguesa h2 {
    font-size: 35px;
  }
  .contenedor-hamburguesa p {
    font-size: 20px;
  }
  .contenedor-hamburguesa a {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fca311;
    padding: 16px;
    border-radius: 1rem;
    font-size: 20px;
  }
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .contenedor-hamburguesa .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-hamburguesa .foto-hamburguesa img {
    width: 400px;
  }
}

/* Segunda section donde se habla sobre la comida vegana */
.contenedor-vegana {
  text-align: center;
  color: #ffffff;
}
.contenedor-vegana .foto-vegana {
  text-align: center;
  margin-top: 20px;
}
.contenedor-vegana .foto-vegana img {
  width: 200px;
}
.contenedor-vegana .informacion-vegana {
  text-align: center;
  margin-bottom: 60px;
}
.contenedor-vegana .informacion-vegana h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-vegana .informacion-vegana p {
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  margin-bottom: 30px;
}
.contenedor-vegana .informacion-vegana p strong {
  color: #fca311;
}
.contenedor-vegana .informacion-vegana a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 16px;
  border-radius: 1rem;
}
.contenedor-vegana .informacion-vegana a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
@media (min-width: 600px) {
  .contenedor-vegana p {
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .contenedor-vegana .foto-hamburguesa {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-hamburguesa img {
    width: 250px;
  }
}
@media (min-width: 770px) {
  .contenedor-vegana {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 300px;
  }
  .contenedor-vegana h2 {
    font-size: 30px;
  }
  .contenedor-vegana p {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 400px;
  }
  .contenedor-vegana h2 {
    font-size: 35px;
  }
  .contenedor-vegana p {
    font-size: 20px;
  }
  .contenedor-vegana a {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fca311;
    padding: 16px;
    border-radius: 1rem;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-vegana .foto-vegana {
    text-align: center;
    margin-top: 30px;
  }
  .contenedor-vegana .foto-vegana img {
    width: 450px;
  }
}

/* Metodos de pagos, envios y comer en el local */
.contenedor-info {
  text-align: center;
  color: #ffffff;
  height: 130vh;
}
.contenedor-info .informacion-inicio {
  border: 2px solid #fca311;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
  width: 340px;
  height: 40vh;
}
.contenedor-info .informacion-inicio h3 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-info .informacion-inicio p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-info .informacion-inicio p strong {
  color: #fca311;
  text-transform: uppercase;
}
.contenedor-info .informacion-inicio a {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fca311;
  padding: 12px;
  border-radius: 1rem;
}
.contenedor-info .informacion-inicio a:hover {
  background-color: #14213d;
  color: #fca311;
  border: 2px solid #fca311;
}
.contenedor-info .informacion-inicio li {
  margin-top: 20px;
}
@media (min-width: 380px) {
  .contenedor-info .informacion-inicio {
    margin-left: 25px;
  }
}
@media (min-width: 600px) {
  .contenedor-info .informacion-inicio {
    margin-left: 22%;
  }
  .contenedor-info .informacion-inicio li {
    margin-top: 20px;
  }
}
@media (min-width: 770px) {
  .contenedor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .contenedor-info {
    height: 40vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 25vh;
  }
  .contenedor-info h3 {
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contenedor-info p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
  }
  .contenedor-info .informacion-inicio {
    border: 2px solid #fca311;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 16px;
    width: 340px;
    height: 45vh;
  }
  .contenedor-info .informacion-inicio li {
    margin-top: 35px;
  }
}

/* Contenedor Tomar */
.contenedor-tomar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedor-tomar div {
  display: block;
  justify-content: center;
  align-items: center;
}
.contenedor-tomar div .article-tomar {
  border: 2px solid #fca311;
  width: 300px;
  height: 60vh;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 16px;
  background-color: rgb(10, 3, 53);
}
.contenedor-tomar div .article-tomar h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-tomar div .article-tomar ul {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contenedor-tomar div .article-tomar ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: start;
  margin-left: 10px;
}
.contenedor-tomar div .article-tomar ul li span {
  margin-right: 10px;
}
@media (min-width: 770px) {
  .contenedor-tomar div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-tomar div .article-tomar {
    margin: 20px;
  }
  .contenedor-tomar div .article-tomar ul {
    margin-top: 14px;
  }
  .contenedor-tomar div .article-tomar ul li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .contenedor-tomar div .article-tomar {
    width: 400px;
    height: 40vh;
  }
  .contenedor-tomar div .article-tomar ul {
    font-size: 18px;
  }
  .contenedor-tomar div .article-tomar ul li {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-tomar div .article-tomar {
    width: 450px;
    height: 73vh;
  }
  .contenedor-tomar div .article-tomar ul {
    font-size: 20px;
  }
}

/* Menu para comer */
.contenedor-comer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedor-comer div {
  display: block;
  justify-content: center;
  align-items: center;
}
.contenedor-comer div .article-comer {
  border: 2px solid #fca311;
  width: 300px;
  height: 60vh;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 16px;
  background-color: rgb(10, 3, 53);
}
.contenedor-comer div .article-comer h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-comer div .article-comer ul {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contenedor-comer div .article-comer ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: start;
  margin-left: 10px;
}
.contenedor-comer div .article-comer ul li span {
  margin-right: 10px;
}
@media (min-width: 770px) {
  .contenedor-comer div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-comer div .article-comer {
    margin: 20px;
  }
  .contenedor-comer div .article-comer ul {
    margin-top: 14px;
  }
  .contenedor-comer div .article-comer ul li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .contenedor-comer div .article-comer {
    width: 400px;
    height: 40vh;
  }
  .contenedor-comer div .article-comer ul {
    font-size: 18px;
  }
  .contenedor-comer div .article-comer ul li {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-comer div .article-comer {
    width: 450px;
    height: 73vh;
  }
  .contenedor-comer div .article-comer ul {
    font-size: 20px;
  }
}

/* Menu para Postres */
.contenedor-postre {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedor-postre div {
  display: block;
  justify-content: center;
  align-items: center;
}
.contenedor-postre div .article-postre {
  border: 2px solid #fca311;
  width: 300px;
  height: 60vh;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 16px;
  background-color: rgb(10, 3, 53);
}
.contenedor-postre div .article-postre h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor-postre div .article-postre ul {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contenedor-postre div .article-postre ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: start;
  margin-left: 10px;
}
.contenedor-postre div .article-postre ul li span {
  margin-right: 10px;
}
@media (min-width: 770px) {
  .contenedor-postre div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-postre div .article-postre {
    margin: 20px;
    height: 65vh;
  }
  .contenedor-postre div .article-postre ul {
    margin-top: 14px;
  }
  .contenedor-postre div .article-postre ul li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .contenedor-postre div .article-postre {
    width: 400px;
    height: 40vh;
  }
  .contenedor-postre div .article-postre ul {
    font-size: 18px;
  }
  .contenedor-postre div .article-postre ul li {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .contenedor-postre div .article-postre {
    width: 450px;
    height: 73vh;
  }
  .contenedor-postre div .article-postre ul {
    font-size: 20px;
  }
}

/* Imagen de la empresa */
.imagen-empresa {
  width: 100%;
  height: 30vh;
}
.imagen-empresa img {
  width: 100%;
  height: 30vh;
}
@media (min-width: 600px) {
  .imagen-empresa img {
    height: 35vh;
  }
}
@media (min-width: 770px) {
  .imagen-empresa img {
    height: 40vh;
  }
}
@media (min-width: 1024px) {
  .imagen-empresa img {
    height: 35vh;
  }
}
@media (min-width: 1200px) {
  .imagen-empresa img {
    height: 50vh;
  }
}

/* Sobre nosotros */
.nosotros-contenedor {
  text-align: center;
  color: #ffffff;
}
.nosotros-contenedor h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.nosotros-contenedor .nosotros-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros-contenedor .nosotros-div .nosotros {
  width: 300px;
  height: 30vh;
  margin-bottom: 20px;
  border: 2px solid #fca311;
  border-radius: 1rem;
}
.nosotros-contenedor .nosotros-div .nosotros h4 {
  text-transform: uppercase;
  border-bottom: 2px solid #fca311;
  padding: 10px;
}
.nosotros-contenedor .nosotros-div .nosotros img {
  margin-top: 10px;
}
.nosotros-contenedor .nosotros-div .nosotros p {
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .nosotros-contenedor h2 {
    margin-top: 80px;
  }
}
@media (min-width: 770px) {
  .nosotros-contenedor h2 {
    margin-top: 100px;
  }
  .nosotros-contenedor .contenedor-display {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nosotros-contenedor .contenedor-display .nosotros {
    margin: 5px;
  }
}
@media (min-width: 1024px) {
  .nosotros-contenedor .contenedor-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nosotros-contenedor .contenedor-display .nosotros {
    margin: 20px;
    height: 30vh;
  }
  .nosotros-contenedor .contenedor-display .nosotros h4 {
    font-size: 18px;
  }
  .nosotros-contenedor .contenedor-display .nosotros p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .nosotros-contenedor h2 {
    margin-top: 200px;
  }
  .nosotros-contenedor .nosotros-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .nosotros-contenedor .nosotros-div .nosotros {
    width: 250px;
    height: 35vh;
  }
}

/* Nuestro equipo */
.equipo-contenedor {
  text-align: center;
  color: #ffffff;
}
.equipo-contenedor h2 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}
.equipo-contenedor .contenedor-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.equipo-contenedor .contenedor-div .equipo {
  width: 300px;
  height: 70vh;
  margin-bottom: 20px;
  border: 2px solid #fca311;
  background-color: rgb(202, 182, 182);
}
.equipo-contenedor .contenedor-div .equipo img {
  width: 100%;
  height: 80%;
  background-size: cover;
}
.equipo-contenedor .contenedor-div .equipo h4 {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
}
.equipo-contenedor .contenedor-div .equipo h5 {
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 770px) {
  .equipo-contenedor .contenedor-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .equipo-contenedor .contenedor-equipo .equipo {
    margin: 10px;
  }
}
@media (min-width: 1024px) {
  .equipo-contenedor .contenedor-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .equipo-contenedor .contenedor-equipo .equipo {
    height: 40vh;
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .equipo-contenedor .contenedor-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .equipo-contenedor .contenedor-div .equipo {
    width: 270px;
    height: 50vh;
    margin-bottom: 20px;
  }
}

.imagen-reservas {
  width: 100%;
}

.imagen-reservas img {
  width: 100%;
}
@media (min-width: 600px) {
  .imagen-reservas img {
    width: 100%;
    height: 20vh;
  }
}
@media (min-width: 770px) {
  .imagen-reservas img {
    width: 100%;
    height: 35vh;
  }
}
@media (min-width: 1024px) {
  .imagen-reservas img {
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 1200px) {
  .imagen-reservas img {
    width: 100%;
    height: 55vh;
  }
}

/* Contenedor de reservas */
.contenedor-reservas {
  text-align: center;
  color: #ffffff;
}
.contenedor-reservas h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reservas {
  margin: 10px;
  color: #ffffff;
}
.reservas input {
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 5px solid rgb(92, 88, 81);
  border-radius: 1rem;
  padding: 8px;
  background-color: rgb(26, 26, 187);
  color: #ffffff;
  width: 300px;
}
.reservas input:hover {
  background-color: #14213d;
  color: #fca311;
  border: 5px solid #000000;
}
@media (min-width: 600px) {
  .reservas input {
    width: 300px;
  }
}
@media (min-width: 664px) {
  .reservas input {
    width: 400px;
  }
}
@media (min-width: 770px) {
  .reservas input {
    width: 400px;
  }
}
@media (min-width: 864px) {
  .reservas input {
    width: 500px;
  }
}
@media (min-width: 1064px) {
  .reservas input {
    width: 600px;
  }
}

/* Ofertas */
.contenedor-ofertas {
  text-align: center;
  color: #ffffff;
}
.contenedor-ofertas h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}
.contenedor-ofertas .ofertas {
  margin: 0 10px;
}
.contenedor-ofertas .ofertas strong {
  text-transform: uppercase;
  color: #fca311;
}
.contenedor-ofertas .ofertas img {
  width: 350px;
}
@media (min-width: 600px) {
  .contenedor-ofertas h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  }
}
@media (min-width: 770px) {
  .contenedor-ofertas .ofertas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-ofertas .ofertas p {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .contenedor-ofertas h2 {
    font-size: 35px;
  }
}

/* Reservas anteriores */
.contenedor-antigua {
  text-align: center;
  color: #ffffff;
  height: 70vh;
}
.contenedor-antigua h2 {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.contenedor-antigua .antigua {
  margin: 0 10px;
}
.contenedor-antigua .antigua img {
  width: 350px;
}
.contenedor-antigua .antigua strong {
  text-transform: uppercase;
  color: #fca311;
}
@media (min-width: 600px) {
  .contenedor-antigua h2 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
  }
}
@media (min-width: 770px) {
  .contenedor-antigua {
    height: 45vh;
  }
  .contenedor-antigua .antigua {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-antigua .antigua p {
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .contenedor-antigua {
    height: 30vh;
  }
  .contenedor-antigua h2 {
    font-size: 35px;
  }
}
@media (min-width: 1200px) {
  .contenedor-antigua {
    height: 50vh;
  }
}

/* Iframe de donde nos encontramos */
.contenedor-ubicacion {
  text-align: center;
  color: #ffffff;
  width: 100%;
}
.contenedor-ubicacion h2 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenedor-ubicacion .mapa {
  width: 100%;
}
.contenedor-ubicacion .mapa iframe {
  width: 90%;
  height: 30vh;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 40vh;
    border-radius: 10px;
  }
}
@media (min-width: 770px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 50vh;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 60vh;
    border-radius: 10px;
  }
}
@media (min-width: 1200px) {
  .contenedor-ubicacion .mapa {
    width: 100%;
  }
  .contenedor-ubicacion .mapa iframe {
    width: 90%;
    height: 70vh;
    border-radius: 10px;
  }
}

/* Informacion para contactarnos */
.contenedor-informacion {
  text-align: center;
  color: #ffffff;
  height: 35vh;
}
.contenedor-informacion ul {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.contenedor-informacion ul li {
  margin-bottom: 10px;
}
.contenedor-informacion ul li:hover {
  cursor: pointer;
}
@media (min-width: 600px) {
  .contenedor-informacion li {
    font-size: 18px;
  }
}
@media (min-width: 770px) {
  .contenedor-informacion li {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .contenedor-informacion {
    height: 45vh;
  }
  .contenedor-informacion ul {
    margin-top: 50px;
  }
  .contenedor-informacion ul li {
    margin-bottom: 20px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=index.css.map */
