/* Header, parte de la navegacion y logo de la empresa */

header {
    background-color: rgb(2, 2, 36);
    color: $c-blanco;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-titulo div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-titulo nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.logo-titulo nav a {
    color: $c-blanco;
}

.border-header {
    border-bottom: 2px solid $c-blanco;
    padding: 3px;
}

@media (min-width:320px) {
    .logo-titulo div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .logo-titulo ul li{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo-titulo a {
        font-size: 10px;
        margin: 5px;
    }

}

@media (min-width:600px) {
    .logo-titulo div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .logo-titulo img {
        margin-right: 10px;
    }

    .logo-titulo nav ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
    }

    .logo-titulo a {
        font-size: 18px;
    }
}

@media (min-width:770px) {

    .logo-titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-titulo div {
        margin-right: 40px;
    }

    .logo-titulo nav {
        margin-left: 23px;
    }

    .logo-titulo a {
        font-size: 18px;
    }
}

@media (min-width:1024px) {

    header {
        display: flex;
        justify-content: center;
    }

    .logo-titulo div{
        margin-right: 150px;
    }

}