/* MAIN */

main {
    background-color: rgb(6, 6, 73);
}


/* Foto de la empresa */

.contenedor-imagen-inicio {
    width: 100%;

    img {
        width: 100%;
        height: 20vh;
    }

    @media (min-width:600px) {

        img {
            width: 100%;
            height: 30vh;
        }
    }

    @media (min-width:770px) {

        img {
            width: 100%;
            height: 40vh;
        }
    }

    @media (min-width:1024px) {

        img {
            width: 100%;
            height: 50vh;
        }
    }

    @media (min-width:1200px) {
     
        img {
            width: 100%;
            height: 60vh;
        }
    }
}

/* Primera section donde aparece informacion sobre la hambuguesa */

.contenedor-hamburguesa {
    text-align: center;
    color: $c-blanco;

    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $c-amarillo;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
        color: $c-blanco;
        margin-bottom: 30px;
    }

    a {
        text-transform: uppercase;
        color: $c-blanco;
        background-color: $c-amarillo;
        padding: 16px;
        border-radius: 1rem;

        &:hover {
            background-color: $c-azul;
            color: $c-amarillo;
            border: 2px solid $c-amarillo;
        }
    }

    .foto-hamburguesa {
        text-align: center;
        margin-top: 20px;

        img {
            width: 200px;
        }
    }

    @media (min-width:600px) {

        p {
           margin-left: 20px;
           margin-right: 20px;
           color: $c-blanco;
           margin-bottom: 40px;
           font-size: 18px;
        }

        .foto-hamburguesa {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 250px;
            }
        }
    }

    @media (min-width:770px) {

        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    @media (min-width:1024px) {

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }

        a {
            text-transform: uppercase;
            color: $c-blanco;
            background-color: $c-amarillo;
            padding: 16px;
            border-radius: 1rem;
            font-size: 20px;
        }

        .foto-hamburguesa {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 350px;
            }
        }
    }

    @media (min-width:1200px) {

        .foto-hamburguesa {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 400px;
            }
        }
    }
}

/* Segunda section donde se habla sobre la comida vegana */

.contenedor-vegana {
    text-align: center;
    color: $c-blanco;

    .foto-vegana {
     
        text-align: center;
        margin-top: 20px;

        img {
            width: 200px;
        }
    }

    .informacion-vegana {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            margin-top: 20px;
           margin-bottom: 20px;
           text-transform: uppercase;
           color: $c-amarillo;
        }

        p {
            margin-left: 10px;
            margin-right: 10px;
            color: $c-blanco;
            margin-bottom: 30px;

            strong {
                color: $c-amarillo;
            }
        }
    
        a {
            text-transform: uppercase;
            color: $c-blanco;
            background-color: $c-amarillo;
            padding: 16px;
            border-radius: 1rem;
    
            &:hover {
                background-color: $c-azul;
                color: $c-amarillo;
                border: 2px solid $c-amarillo;
            }
        }
    }

    @media (min-width:600px) {

        p {
            margin-left: 20px;
            margin-right: 20px;
            color: $c-blanco;
            margin-bottom: 40px;
            font-size: 18px;
         }
 
         .foto-hamburguesa {
             text-align: center;
             margin-top: 30px;
     
             img {
                 width: 250px;
             }
         }
    }

    @media (min-width:770px) {

        display: flex;
        justify-content: space-around;
        align-items: center;

        & .foto-vegana {
            text-align: center;
            margin-top: 30px;

            img {
                width: 300px;
            }
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    @media (min-width:1024px) {

        .foto-vegana {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 400px;
            }
        }

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }

        a {
            text-transform: uppercase;
            color: $c-blanco;
            background-color: $c-amarillo;
            padding: 16px;
            border-radius: 1rem;
            font-size: 20px;
        }
    }

    @media (min-width:1200px) {

        .foto-vegana {
            text-align: center;
            margin-top: 30px;
    
            img {
                width: 450px;
            }
        }
    }
}

/* Metodos de pagos, envios y comer en el local */ 

.contenedor-info {
    text-align: center;
    color: $c-blanco;
    height: 130vh;

    .informacion-inicio {
        border: 2px solid $c-amarillo;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        border-radius: 16px;
        width: 340px;
        height: 40vh;

        h3 {
            text-transform: uppercase;
            border-bottom: 2px solid $c-amarillo;
            padding-bottom: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 60px;
            margin-left: 10px;
            margin-right: 10px;

            strong {
                color: $c-amarillo;
                text-transform: uppercase;
            }
        }

        a {
            text-transform: uppercase;
            color: $c-blanco;
            background-color: $c-amarillo;
            padding: 12px;
            border-radius: 1rem;

            &:hover {
                background-color: $c-azul;
                color: $c-amarillo;
                border: 2px solid $c-amarillo;
            }
        }

        li {
            margin-top: 20px;
        }
    }

    @media (min-width:390px) {

        .informacion-inicio {

            margin-left: 25px;
        }
    }

    @media (min-width:600px) {
        
        .informacion-inicio {
            margin-left: 22%;

            li {
                margin-top: 20px;
            }
        }
    }

    @media (min-width:770px) {

        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;

        .informacion-inicio {
            border: 2px solid $c-amarillo;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 16px;
            width: 340px;
            height: 40vh;
        }
    }

    @media (min-width:1024px) {

        height: 40vh;

        .informacion-inicio {
            border: 2px solid $c-amarillo;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 16px;
            width: 340px;
            height: 25vh;
        }

        h3 {
            font-size: 23px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        p {
            font-size: 20px;
        }
    }

    @media (min-width:1200px) {

        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        height: 50vh;    

        .informacion-inicio {
            border: 2px solid $c-amarillo;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 16px;
            width: 340px;
            height: 45vh;

            li {
                margin-top: 35px;
            }
        }
    }
}