/* Contenedor Tomar */

.contenedor-tomar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-blanco;
    padding-top: 30px;
    padding-bottom: 30px;

    div {
        display: block;
        justify-content: center;
        align-items: center;

        .article-tomar {
            border: 2px solid $c-amarillo;
            width: 300px;
            height: 60vh;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 16px;
            background-color: $cf-menu;

            h2 {
                text-transform: uppercase;
                border-bottom: 2px solid $c-amarillo;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            ul {
                margin-top: 15px;
                margin-bottom: 10px;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    text-align: start;
                    margin-left: 10px;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        @media (min-width:770px) {

            display: flex;
            justify-content: center;
            align-items: center;

            .article-tomar {
                margin: 20px;

               ul {
                    margin-top: 14px;

                    li {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        @media (min-width:1024px) {

            .article-tomar {

                width: 400px;
                height: 40vh;

                ul {
                    font-size: 18px;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        @media (min-width:1200px) {

            .article-tomar {

                width: 450px;
                height: 50vh;

                ul {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Menu para comer */

.contenedor-comer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-blanco;
    padding-top: 30px;
    padding-bottom: 30px;

    div {
        display: block;
        justify-content: center;
        align-items: center;

        .article-comer {
            border: 2px solid $c-amarillo;
            width: 300px;
            height: 60vh;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 16px;
            background-color: $cf-menu;

            h2 {
                text-transform: uppercase;
                border-bottom: 2px solid $c-amarillo;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            ul {
                margin-top: 15px;
                margin-bottom: 10px;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    text-align: start;
                    margin-left: 10px;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        @media (min-width:770px) {

            display: flex;
            justify-content: center;
            align-items: center;

            .article-comer {
                margin: 20px;

               ul {
                    margin-top: 14px;

                    li {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        @media (min-width:1024px) {

            .article-comer {

                width: 400px;
                height: 40vh;

                ul {
                    font-size: 18px;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        @media (min-width:1200px) {

            .article-comer {

                width: 450px;
                height: 50vh;

                ul {
                    font-size: 20px;
                }
            }
        }
    }
}

/* Menu para Postres */

.contenedor-postre {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $c-blanco;
    padding-top: 30px;
    padding-bottom: 30px;

    div {
        display: block;
        justify-content: center;
        align-items: center;

        .article-postre {
            border: 2px solid $c-amarillo;
            width: 300px;
            height: 60vh;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 16px;
            background-color: $cf-menu;

            h2 {
                text-transform: uppercase;
                border-bottom: 2px solid $c-amarillo;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            ul {
                margin-top: 15px;
                margin-bottom: 10px;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    text-align: start;
                    margin-left: 10px;

                    span {
                        margin-right: 10px;
                    }
                }
            }
        }

        @media (min-width:770px) {

            display: flex;
            justify-content: center;
            align-items: center;

            .article-postre {
                margin: 20px;
                height: 61vh;

               ul {
                    margin-top: 14px;

                    li {
                        margin-bottom: 15px;
                    }
                }
            }
        }

        @media (min-width:1024px) {

            .article-postre {

                width: 400px;
                height: 40vh;

                ul {
                    font-size: 18px;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        @media (min-width:1200px) {

            .article-postre {

                width: 450px;
                height: 50vh;

                ul {
                    font-size: 20px;
                }
            }
        }
    }
}