/* Iframe de donde nos encontramos */

.contenedor-ubicacion {
    text-align: center;
    color: $c-blanco;
    width: 100%;

    h2 {
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    & .mapa {
        width: 100%;

        & iframe {
            width: 90%;
            height: 30vh;
            border-radius: 10px;
        }
    }

    @media (min-width:600px) {

        & .mapa {
            width: 100%;
    
            & iframe {
                width: 90%;
                height: 40vh;
                border-radius: 10px;
            }
        }
    }

    @media (min-width:770px) {

        & .mapa {
            width: 100%;
    
            & iframe {
                width: 90%;
                height: 50vh;
                border-radius: 10px;
            }
        }
    }

    @media (min-width:1024px) {

        & .mapa {
            width: 100%;
    
            & iframe {
                width: 90%;
                height: 60vh;
                border-radius: 10px;
            }
        }
    }

    @media (min-width:1200px) {

        & .mapa {
            width: 100%;
    
            & iframe {
                width: 90%;
                height: 70vh;
                border-radius: 10px;
            }
        }
    }
}

/* Informacion para contactarnos */

.contenedor-informacion {
    text-align: center;
    color: $c-blanco;
    height: 35vh;

    ul {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;

        li {
            margin-bottom: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @media (min-width:600px) {

        li {
            font-size: 18px;
        }
    }

    @media (min-width:770px) {

        li {
            margin-bottom: 15px;
            font-size: 20px;
        }
    }

    @media (min-width:1024px) {

        height: 45vh;

        ul {
            margin-top: 50px;

            li {
                margin-bottom: 20px;
                font-size: 22px;
            }
        }
    }
}